<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=" = "X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>DETECTION PLAQUE D'IMMATRICULATION D'UN VEHICULE</h1>
    <h1>Numero Plaque d'immatriculation : {{numero}}</h1>
    <!--<h1>Coordonnre : {{coordonne}}</h1>
    <h1>media url  :{{ MEDIA_URL }},{{ final }} </h1>-->
    {% load static %}
    <img src="{% static 'test.jpg' %}" alt="My image">    
    
</body>
</html>